* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    color: hsl(231, 7%, 65%);
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}
.nav-links{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}
.nav-links li {
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}
.empty-list {
    list-style: disc !important;
}
.nav-links span li{
    color: hsl(231, 7%, 65%);
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: hsl(231, 7%, 65%);
}
.hamburger {
    display: none;
}
.container {
    margin: 1% auto;
    display: flex;
    padding: 2rem 0 2rem 5rem;
}
.contents {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.sub-heading {
    letter-spacing: .3rem;
    font-weight: 500;
    word-spacing: .5rem;
}
.sub-heading > span {
    padding: .5rem;
    color: hsl(207, 33%, 95%);
    background-color: black;
    border-radius: 30px;
    font-weight: 700;
    letter-spacing: normal;
}
header h1 {
    font-family: 'Barlow Condensed', sans-serif !important;
    color: black;
    font-size: 5rem;
}
.illustration {
    width: 50%;
}
.illustration > svg {
    width: 100%;
}
.registration {
    margin-top: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    word-spacing: .25rem;
    letter-spacing: .2rem;
    font-weight: 500;
}
.registration > span {
    color: hsl(207, 33%, 95%);
    padding: 1rem;
    background-color: hsl(0, 100%, 68%);
    border-radius: 5px;
    letter-spacing: normal;
    transition-duration: 250ms;
}
.registration > span:hover {
    opacity: 70%;
}
.content-details {
    text-transform: none;
    font-weight: 500;
    width: 40%;
    line-height: 1.5;
}
.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*******MEDIA QUERY*******/
@media screen and (max-width: 350px) {
    span {
        display: inline-block;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding-left: 1rem ;
    }
    
    #navbar {
        padding: 2rem 0;
        position: relative;
    }
    .nav-links {
        position: relative;
    }
    .hamburger {
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
    }
    .hamburger img {
        position: absolute;
        right: .5rem;
        top: .5rem;
    }
    .navigation-menu {
        width: 80%;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        position: absolute;
        right: 3rem;
        top: 100%;
        box-shadow: 0 -1px 3px 0px #000;
        border-radius: 2px;
        background-color: #fff;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .empty-list {
        width: 100%;
    }
    li {
        margin: .5rem o;
    }
    .container {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0 0 5rem 0;
        gap: 3rem;
    }
    .illustration {
        width: 100%;
    }
    .contents {
        width: 100%;
    }
    .sub-heading {
        width: 100%;
        letter-spacing: .2rem;
    }
    header h1 {
        font-size: 3rem;
    }
    .content-details {
        width: 80%;
    }
    .hide {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 800px) {
    main {
        padding-left: 2rem ;
    }
    #navbar {
        padding: 2rem 1rem;
    }
    .container {
        padding: 2rem 1rem;
    }
    .sub-heading {
        letter-spacing: .1rem;
        word-spacing: .2rem;
    }
    header h1 {
        font-size: 3.5rem;
    }
}